* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    font-family: 'Droid Sans', sans-serif;
}

canvas {
    border: 1px solid #777;
    background: #fff;
}

.distances {
    display: flex;
    margin: 0;
    justify-content: center;
}

.distances li {
    list-style-type: none;
    min-width: 100px;
    padding: 10px;
}

.top-bar {
    background: #34495e;
    border-bottom: 1px solid darken(#34495e, 10%);
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}

.title {
    width: 90%;
    text-align: center;
}

.connected {
    align-self: flex-end;
    width: 20px;
}

.not-connected, .is-connected {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.not-connected {
    background: #e74c3c;
    border: 1px solid darken(#e74c3c, 10%);
}

.is-connected {
    background: #27ae60;
    border: 1px solid darken(#27ae60, 10%);
}

.app-content {
    display: flex;
}

.canvas-col {
    max-width: 800px;
    padding-top: 10px;
}

.sidebar {
    padding: 10px;
    flex-grow: 2;
}

.error-selector {
    display: flex;

    & select, & label {
        margin-right: 10px;
    }
}
